.item {
  background-color: #E1EFE9;
  width: 100px;
  height: 100px;
  margin: 300px auto 0 auto;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 3;
  font-family: 'Yantramanav', sans-serif;
  font-size: 600%;
  font-weight: 125;
  color: #E1EFE9;
  line-height: 70%;
}

@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url('../img/ice.jpg') no-repeat 50% 50%;
  display: table;
  top: 0;
  height: 100vh;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 28%;
}

.content h1 {
  font-family: 'Yantramanav', sans-serif;
  font-size:110%;
  font-weight: 100%;
  color: #E1EFE9;
  line-height: 70%;
}

.btn {
  border-radius: 9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #3A6168 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 135%;
  font-weight: 400%;
  color: #3A6168;
}

.btn:hover {
  color: #fff;
  border: solid #fff 3px;
}

p {
  font-size: 160%;
  line-height: 210%;
  text-align: justify;
  margin: 3%;
  font-family: sans-serif;
}

@@media screen and (max-width:900px) {
  .content {
    padding-bottom: 30%;
  }
  .content h1 {
    font-size: 450%;
  }
  .btn {
    font-size: 110%;
    padding: 9px 17px;
  }
}

@@media screen and (max-width:768px) {
  .content {
    padding-bottom: 40%;
  }
  .content h1 {
    font-size: 300%;
  }
  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }
}

@@media screen and (max-width:480px) {
  .content {
    padding-bottom: 50%;
  }
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 100%;
    padding: 6px 14px;
  }
}
